name: 'Calibre-Web Smoke test with IIAB install'

on: [push, pull_request, workflow_dispatch]

jobs:
  test-install:
    runs-on: ubuntu-24.04
    steps:
      - name: Clean clone to /opt/iiab/iiab (chmod permissions preserved)
        run: |
          sudo git clone https://github.com/iiab/iiab    # in $GITHUB_WORKSPACE == /home/runner/work/calibre-web/calibre-web
          sudo mkdir /opt/iiab
          sudo mv iiab /opt/iiab
      - name: Set up /etc/iiab/local_vars.yml
        run: |
          echo "calibreweb_install: True" > local_vars.yml    # in $GITHUB_WORKSPACE == /home/runner/work/calibre-web/calibre-web
          echo "calibreweb_enabled: True" >> local_vars.yml
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            echo "calibreweb_repo_url: $GITHUB_SERVER_URL/${{ github.event.pull_request.head.repo.owner.login }}/${{ github.event.repository.name }}" >> local_vars.yml
            echo "calibreweb_version: $GITHUB_HEAD_REF" >> local_vars.yml
          else # works for both push and workflow_dispatch
            echo "calibreweb_repo_url: $GITHUB_SERVER_URL/$GITHUB_REPOSITORY" >> local_vars.yml
            echo "calibreweb_version: $GITHUB_REF_NAME" >> local_vars.yml
          fi
          cat >> local_vars.yml << EOF
          nodocs: True
          kolibri_install: False
          kolibri_enabled: False
          kiwix_install: False
          kiwix_enabled: False
          osm_vector_maps_install: False
          awstats_install: False
          awstats_enabled: False
          matomo_install: False
          matomo_enabled: False
          captiveportal_install: False
          network_install: False
          network_enabled: False
          admin_console_install: False
          admin_console_enabled: False
          EOF
          sudo mkdir /etc/iiab
          sudo mv local_vars.yml /etc/iiab
          cat /etc/iiab/local_vars.yml
      - run: sudo /opt/iiab/iiab/scripts/ansible    # Install Ansible
      - run: sudo ./iiab-install                    # Install IIAB!
        working-directory: /opt/iiab/iiab/
