name: Integration tests
run-name: Integration tests
on: [push, pull_request]
jobs:
  integration-test-chrome:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: ./.github/workflows/calibre-web-setup
      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
      - run: chrome --version
      - name: Execute Integration Tests for Chrome
        run: pytest -s --splinter-webdriver chrome --splinter-headless
  integration-test-firefox:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: ./.github/workflows/calibre-web-setup
      - name: Install Firefox
        uses: browser-actions/setup-firefox@v1
      - run: firefox --version
      - name: Execute Integration Tests for Firefox
        run: pytest -s --splinter-webdriver firefox --splinter-headless
